
<!DOCTYPE html>
{% load static %}
<html style="height:100%">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="28800">

    <title>HYDRA production dashboard</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="{% static 'css/boot.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css.css' %}" />

</head>
<body class="tv" style="height:100%" >
    <div id="tvHeader" data-raspberry-id="">
        <img class="logo" src="/gfx/hydra_logo.png" alt="HYDRA dashboard" />
        <span class="appName">hydra <em>dashboard</em></span>
        <img class="dsse" src="/gfx/dsse.png" alt="DSSE" />
    </div>


<div class="col-md-8 lineContainer "  >

    <table class="productionLine " >
        <tr >
            <td class="green">
                <span class="machineName">HB</span>
                <span class="machineParams">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_working.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>5,4</strong>Auto start
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
            <td rowspan=2 class="green">
                <span class="machineName" style="padding-top:30px;">Transfer butli</span>
                <span class="machineParams" style="bottom:30px">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_warning.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>0,0</strong>Master ON
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
            <td class="green">
                <span class="machineName">HA</span>
                <span class="machineParams">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_working.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>5,4</strong>Auto start
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="green">
                <span class="machineName">DB</span>
                <span class="machineParams">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_working.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>6,9</strong>Auto start
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
            <td class="orange">
                <span class="machineName">DA</span>
                <span class="machineParams">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_slow.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>12,8</strong>Auto start
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="red">
                <span class="machineName">SB</span>
                <span class="machineParams">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_warning.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>0,0</strong>Master ON
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
            <td >
                <span class="machineName" >Cooling</span>
                <span class="machineParams">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_poweroff.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>-,-</strong>Stopped
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="green">
                <span class="machineName">GF #1</span>
                <span class="machineParams">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_poweroff.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>-,-</strong>Stopped
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
            <td class="orange" rowspan=3>
                <span class="machineName" style="padding-top:80px">Transfer GF</span>
                <span class="machineParams" style="bottom:80px">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_warning.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>0,0</strong>Master ON
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="red">
                <span class="machineName">GF #2</span>
                <span class="machineParams">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_poweroff.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>-,-</strong>Stopped
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="orange">
                <span class="machineName">GF #3</span>
                <span class="machineParams">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_poweroff.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>-,-</strong>Stopped
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <span class="machineName">Heat</span>
                <span class="machineParams">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_poweroff.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>-,-</strong>Stopped
                    </span>
                    <span class="spacer"></span>
                </span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="green">
                                <span class="machineName">Hel</span>
                <span class="machineParams">
                    <span class="machineParamLeft">
                        <img src="/gfx/icon_96_poweroff.png" alt="status" width="64" />
                    </span>
                    <span class="machineParamRight">
                        <strong>-,-</strong>Stopped
                    </span>
                    <span class="spacer"></span>
                </span>

            </td>
        </tr>
    </table>
</div>
    <div class="col-md-4 lineContainer">

           <table class="productionLine" >
               <tr>
                    <td class="orange" style="height:196px">
                        <span class="machineName">LBL<small>Labels sticking</small></span>
                        <span class="machineParams">
                            <span class="machineParamLeft">
                                <img src="/gfx/icon_96_slow.png" alt="status" width="64" />
                            </span>
                            <span class="machineParamRight">
                                <strong>13,5</strong>Auto start
                            </span>
                            <span class="spacer"></span>
                        </span>
                    </td>
               </tr>
               <tr>
                   <td class="green" style="height:196px">
                        <span class="machineName">AL<small>Air leak</small></span>
                        <span class="machineParams">
                            <span class="machineParamLeft">
                                <img src="/gfx/icon_96_working.png" alt="status" width="64" />
                            </span>
                            <span class="machineParamRight">
                                <strong>5,4</strong>Auto start
                            </span>
                            <span class="spacer"></span>
                        </span>
                    </td>
               </tr>
               <tr>
                   <td class="green" style="height:196px">
                        <span class="machineName">SC/ET<small>Shorting clip / E-test</small></span>
                        <span class="machineParams">
                            <span class="machineParamLeft">
                                <img src="/gfx/icon_96_working.png" alt="status" width="64" />
                            </span>
                            <span class="machineParamRight">
                                <strong>5,4</strong>Auto start
                            </span>
                            <span class="spacer"></span>
                        </span>
                    </td>
               </tr>
               <tr>
                   <td style="height:197px">
                        <span class="machineName">IC<small>Initiator crimping</small></span>
                        <span class="machineParams">
                            <span class="machineParamLeft">
                                <img src="/gfx/icon_96_poweroff.png" alt="status" width="64" />
                            </span>
                            <span class="machineParamRight">
                                <strong>5,4</strong>Auto start
                            </span>
                            <span class="spacer"></span>
                        </span>
                    </td>
               </tr>
               <tr>
                   <td class="green" style="height:197px">
                        <span class="machineName">GG<small>Propellant filling</small></span>
                        <span class="machineParams">
                            <span class="machineParamLeft">
                                <img src="/gfx/icon_96_working.png" alt="status" width="64" />
                            </span>
                            <span class="machineParamRight">
                                <strong>5,4</strong>Auto start
                            </span>
                            <span class="spacer"></span>
                        </span>
                    </td>
               </tr>
            </table>
    </div>
</body>
</html>